<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <h2 class="card-header"><mat-icon style="padding-top: 5px;">pie_chart</mat-icon> | Debtors</h2>
        <div class="card-body">
          <!-- <h5 class="card-title">Debtors</h5> -->
          <p class="card-text">Total Outstanding Amount: ₹ {{dAmt}}</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <h2 class="card-header"><mat-icon style="padding-top: 5px;">pie_chart</mat-icon> | Creditors</h2>
        <div class="card-body">
          <!-- <h5 class="card-title">Creditors</h5> -->
          <p class="card-text">Total Outstanding Amount: ₹ {{cAmt}}</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
</div>