<div class="card">
    <h2 class="card-header"><mat-icon style="padding-top: 5px;">credit_card</mat-icon> | Creditors (Sellers)</h2>
    <div class="card-body">
      <table class="table table-primary table-striped table-hover">
        <thead>
          <tr>
            <th>Creditor Id</th>
            <th>Owner Name</th>
            <th>Owner Mobile</th>
            <th>Comapany Name</th>
            <th>GSTIN</th>
            <th>Company PAN</th>
            <th>Creditor Company Id</th>
          </tr>
        </thead>
          <tbody>
            <tr *ngFor="let d of creditorsList">
                <td>{{d.id}}</td>
                <td>{{d.ownerName}}</td>
                <td>{{d.ownerMobile}}</td>
                <td>{{d.companyName}}</td>
                <td>{{d.gstin}}</td>
                <td>{{d.companyPan}}</td>
                <td>{{d.creditorCompanyId}}</td>
            </tr>
        </tbody>  
      
    </table>
    </div>
</div>
